body {
  margin: 0;
  @include font-size(16);
  font-family: Nunito, sans-serif;
  font-weight: 400;
  color: $text-color;
  line-height: 22px;
}

a {
  text-decoration: none;
  color: $text-color;
}

h1 {
  font-size: $h1-size;
  line-height: 1;
  margin: $s 0;
  font-family: Spectral, sans-serif;
}

h2 {
  font-family: Spectral, sans-serif;
  font-size: $h2-size;
  line-height: 1;
  margin: 0;
}

h3 {
  font-size: $h3-size;
  font-family: Spectral, sans-serif;
}

h4 {
  margin: 0;
  font-family: Spectral, sans-serif;
  font-weight: 700;
  @include font-size(24);
  line-height: 30px;
  color: $text-color;
}

h5 {
  margin: 0;
  font-family: Spectral, sans-serif;
  font-weight: 700;
  @include font-size(18);
  line-height: 1;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}


.hp-boxes-bg1 {
  position: absolute;
  top: $m;
  left: 0;
  z-index: -1;
}

.hp-boxes-bg2 {
  position: absolute;
  top: $m;
  right: 0;
  z-index: -1;
}

.hp-recipes-bg1 {
  position: absolute;
  top: 100px;
  left: 0;
}

.hp-recipes-bg2 {
  position: absolute;
  top: 100px;
  right: 0;
}

body .woocommerce a.remove {
  font-size: 2.5rem;
  line-height: 38px;
  font-weight: 400;
  color: #919191 !important;

  &:hover {
    background: #ff8d8d !important;
  }
}



//favourites button

.products {
  .product {
    &:hover {
      .tinv-wraper.tinv-wishlist {
        display: inline-flex;
      }
    }

    .tinv-wraper.tinv-wishlist {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
    }

    .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart::before {
      font-size: 30px;
    }
  }
}

.woocommerce ul.products li.product .tinvwl_add_to_wishlist_button {
  margin-top: 0;
}



//product page

.woocommerce div.product .product_title {
  font-family: Spectral, sans-serif;
  font-weight: 700;
  @include font-size(24);
  line-height: 30px;
}

.summary {
  .price {
    text-align: left;
  }

  ins {
    text-decoration: none;

    .woocommerce-Price-amount.amount {
      @include font-size(24);
      font-weight: 700;
      line-height: 30px;
    }
  }

}







.woocommerce div.product form.cart .button {
  height: 48px;
  background: $green-light;
  @include font-size(16);
  font-weight: 400;
  color: #444;
}





.woocommerce .cart {
  .quantity .qty {
    width: 96px;
  }

  .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt {
    height: 48px;
    margin: 0;
  }
}




.related.products {
  h2 {
    margin: $xl 0 $l;
    font-family: Spectral, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    color: #444;
  }
}


.woocommerce-Tabs-panel {
  h2 {
    @include font-size(16);
  }
}







.categories {
  list-style: none;
  background: $gray1;
  margin-bottom: 60px;

  @media (min-width: 992px) {
    margin-bottom: 0;
  }

  a {
    display: inline-flex;
    padding: 20px 0 20px 20px;
    color: #444;
  }

  .current-cat, .current-cat-parent {
    > a {
      color: #43A628;
      font-weight: 700;
    }
  }

  .product-categories {
    list-style: none;

    .wcsca-top-lvl {
      font-weight: 700;
    }

    .wcsca-top-lvl.current-cat-parent, .wcsca-top-lvl.current-cat {
      background: $green-light;
    }

    .children {
      list-style: none;
      background-color: $gray1;

      .cat-item {
        font-weight: 400;

        a {
          padding: 10px 0 10px 20px;
        }
      }
    }
  }

  .widget_product_categories .wcsca-top-lvl {
    padding: 0 !important;
  }
}






.added_to_cart {
  color: $text-color;
  text-align: center;
  width: 100%;
}


body.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  background: none;
  color: $text-color;
  border: 1px solid $text-color;

  &:hover {
    background: #83B345;
    border-color: #83B345;
  }
}

body.woocommerce-cart table.cart td.actions .coupon .input-text {
  height: 36px;
  padding: 0 10px;
  width: 120px;
}

.cart_totals {
  > h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}


.woocommerce table.shop_table td a {
  color: $text-color;
}







.widget_product_categories .wcsca-icon {
  margin: $s;
}






body .woocommerce-checkout #payment {
  background: none;
}



.woocommerce-checkout #payment {
  div.form-row.place-order {
    padding: 0;
  }

  ul.payment_methods li input {
    width: 30px;
    height: 30px;
  }
}

body .woocommerce-checkout #payment ul.payment_methods {
  padding-left: 0;
  padding-right: 0;

  .wc_payment_method {
    position: relative;
    margin-bottom: $s;

    label {
      position: absolute;
    }
  }
}



.wc-bacs-bank-details-heading, .woocommerce-order-details__title {
  margin-bottom: $s;
}

.woocommerce-thankyou-order-received {
  margin-bottom: $m;
  font-weight: 700;
}



.product .summary.entry-summary {
  .woocommerce-Price-amount.amount {
    justify-content: flex-start;
  }

  .product_meta {
    .posted_in {
      font-weight: 700;
      
      a {
        font-weight: 400;
        color: $text-color;
      }
    }
  }
}
body.woocommerce div.product .woocommerce-tabs {
  ul.tabs {
    padding: 0;
    overflow: unset;

    &:before {
      content: none;
    }

    li {
      margin: 0 $s 0 0;
      padding: 0;
      border: 0;
      background: none;

      &:before, &:after {
        border: none;
        box-shadow: none;
      }

      &.active {
        color: $primary;
      }
    }
  }

  .woocommerce-Tabs-panel h2 {
    margin-bottom: 10px;
  }

  #review_form #respond {
    .comment-form-rating {
      label {
        display: block;
        margin: 10px 0;
      }

      p.stars {
        display: inline-block;
        margin: 0 0 10px;

        a {
          margin: 0 -3px;
          width: 2rem;
          @include font-size(22);
          color: $primary;
        }
      }
    }
  }

  /*.wpfp-span {
    display: none;

    ul {
      list-style: none;
    }
  }*/
}

.simplefavorite-button, .simplefavorites-clear {
  display: inline-block;
  margin-top: $s;
  padding: 6px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
}


.tinv-wishlist .product-remove button:hover {
  background-color: #ff8d8d;
}

body {
  .woocommerce-info {
    border-top-color: $primary;

    &:before {
      color: $primary;
    }
  }
}


.woocommerce-MyAccount-navigation-link {
  @include font-size(20);
  margin-bottom: 10px;
  list-style: none;
}

.woocommerce-Address-title.title {
  display: flex;
  flex-direction: column;
}

body.woocommerce-account .addresses .title .edit {
  display: inline-block;
  float: none;
  margin-bottom: 10px;
  font-weight: 700;
}

.favorites-list > li > p > a {
  font-weight: 700;
  font-size: 22px;
}

.page-title {
  margin-top: 0;
}


body .woocommerce ul.products li.product a img {
  height: 255px;
  object-fit: cover;
}




@media print {
  .header, footer, .recipes__top, .info, .simplefavorite-button, .attachment-post-thumbnail {display:none}
  .btn-print {display:none;}
}
