.blog {
  &__post {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: $m;

    @include for-size(desktop) {
      margin-bottom: 0;
    }
  }

  &__main-title {
    margin: $s 0;
    @include font-size(48);
    line-height: 54px;
    font-weight: normal;
    color: $white;
  }

  &__main-image {
    display: flex;
    height: 400px;
    width: 100%;
    object-fit: cover;
  }

  &__main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: $s;
    background: $primary;
    color: $white;

    @include for-size(desktop) {
      padding: $l;
    }

    p {
      @include font-size(18);
      line-height: 26px;
      color: $white;
    }
  }

  &__title {
    margin: $s 0;
    @include font-size(26);
    line-height: 32px;
    color: $text-color;
    font-weight: normal;
  }

  &__date {
    opacity: .5;
    font-size: 16px;
  }

  &__image {
    height: 190px;
    object-fit: cover;
    margin-bottom: $s;
  }

  &__content {
    @include font-size(18);
    min-height: 270px;
    flex: 1;
    color: #4C606A;
  }

  &__link {
    display: flex;
    margin-top: $s;
    color: $green;

    &--reverted {
      color: $white;
    }
  }
}


.pagination {
  display: flex;
  justify-content: center;
}

.page-numbers {
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #000;

  &:hover {
    border: 1px solid #000;
  }

  &.current {
    background: #F4F4F4;

    &:hover {
      border: none;
    }
  }
}

.next, .prev {
  font-weight: bold;
}
