.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin: $m 0;
  background-size: cover;
  background-position: center;
  color: $white;

  @media only screen and (min-width: $tablet) {
    height: 250px;
  }

  &__header {
    font-family: Spectral, sans-serif;
    text-align: center;
    @include font-size(32);
    line-height: 1.4;
    font-weight: 700;
    margin: 10px 0;

    @media only screen and (min-width: $tablet) {
      @include font-size(40);
      line-height: 60px;
      margin: $s 0;
    }
  }

  &__link {
    border-bottom: 1px solid $white;
    padding-bottom: 2px;
    font-family: Spectral, sans-serif;
    @include font-size(18);
    font-weight: 700;
    color: $white;
  }

  p {
    margin: 0;
  }
}
