body {
  .favorites-list {
    list-style: none;
    display: flex;
    flex-flow: wrap;
  }

  .favorites-list li {
    border-top: none;
    padding: .75em 10px;
    margin: 0;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      object-fit: cover;
      height: 300px;
    }
  }
}

.favorites-list > li > p {
  text-align: justify;
}

.favorites-list > li > p:nth-of-type(2) {
  margin: 0;
}

.favorites-list > li > p > a {
  font-weight: 700;
  @include font-size(22);
}


.tinv-wishlist table td.product-price > .amount > bdi {
  font-family: Spectral, sans-serif;
  font-weight: 700;
  color: #43A628;
  font-size: 1.125rem;
}

.page-template-page-favourites-products .woocommerce button.button {
  font-weight: normal;
}

@media (min-width: $tablet) {
  body .favorites-list li {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: $desktop) {
  body .favorites-list li {
    flex-basis: 25%;
    max-width: 25%;
  }
}
