::-moz-focus-inner {
  border: 0;
}

:focus {
  outline: none;
}

form {
  margin-top: $m;

  @media (min-width: 992px) {
    margin-top: 0;
  }
}

input {
  width: 100%;
  height: 48px;
  padding: 0 20px;
  margin-bottom: 20px;
  @include font-size(16);
  background: transparent;
  border: 1px solid #EEF2F5;
  font-family: Nunito, sans-serif;
  color: $text-color;

  &[type='submit'] {
    width: auto;
  }
}

textarea {
  width: 100%;
  height: 200px;
  min-height: 200px;
  margin-bottom: $s;
  padding: 20px 30px;
  background: transparent;
  border: 1px solid #EEF2F5;
  font-size: 18px;
  font-family: Nunito, sans-serif;
  color: #6E6F71;
}

select {
  width: 100%;
  padding: $s;
  margin-bottom: 20px;
  font-size: 18px;
  background: transparent;
  border: 1px solid #EEF2F5;
  font-family: Nunito, sans-serif;
  color: #6E6F71;

  display: block;
  //font-size: 16px;
  //font-family: sans-serif;
  line-height: 1.3;
  max-width: 100%;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &.orderby {
    padding: 10px;
    font-size: 1rem;
  }

  &:hover {
    border-color: #888;
  }

  &:focus {
    border-color: #aaa;
    //box-shadow: 0 0 1px 1px rgba(59, 153, 252, .7);
    //box-shadow: 0 0 0 1px -moz-mac-focusring;
    color: #222;
    outline: none;
  }

  /* Firefox - removes outline */
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $text-color;
  }

  &::-ms-expand {
    display: none; //IE11
  }

  option {
    font-weight: normal;
  }
}

/* Text meant only for screen readers. */
.screen-reader-response {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.validation-error {
  border-color: red;
}

.noptin-optin-form-wrapper.noptin-slide-from-bottom_right {
  form {
    margin-top: 0;
  }
}

body .select2-container--default .select2-selection--single {
  height: 100%;
  border: 1px solid $text-color;
  border-radius: 0;

  .select2-selection__rendered {
    height: 48px;
    display: flex;
    align-items: center;
  }

  .select2-selection__arrow {
    height: 48px;
  }
}


body .woocommerce form .form-row label {
  font-weight: 700;
}

input#rememberme {
  width: auto;
  height: auto;
  margin: 0 8px 0 0;
}

body .woocommerce.tinv-wishlist {
  table input[type="checkbox"] {
    width: auto;
    height: auto;
    margin: 0;
  }

  .wishlist_item {
    .product-name {
      a {
        color: $text-color;
      }
    }

    .stock.in-stock {
      margin: 0;
    }

    .product-action {
      button.button.alt {
        width: 180px;
        height: 48px;
        background: $primary;
      }
    }
  }

  .tinvwl-input-group .form-control {
    height: 36px;
    color: $text-color;
    padding: 0 10px;

    &:focus {
      box-shadow: none;
    }
  }
}


.wpcf7-not-valid-tip {
  margin-top: -18px;
}

.wpcf7-submit {
  cursor: pointer;
  background-color: #edf6ea;
  min-width: 200px;
}

body .wpcf7 form .wpcf7-response-output {
  margin: 0;
}


body .noptin-optin-form.noptin-form-single-line .noptin-form-fields .noptin-form-submit {
  margin-top: 0;
  border: 1px solid #fff;
  border-radius: 2px;
  margin-left: 20px;
}

body .noptin-form-footer .noptin-optin-field-wrapper:not(.noptin-optin-field-wrapper-hidden) .noptin-form-field {
  background-color: #c1d9a2;
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  @include font-size(18);
}




/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 40px;
  padding-top: 2px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid #444;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #f1f7f0;
  border-color: #5EBD21;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #f1f7f0;
  border-color: #5EBD21;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
  border-color: #2B9B28;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 2px;
  width: 6px;
  height: 14px;
  border: solid transparent;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
