::-moz-focus-inner {
  border: 0;
}

:focus {
  outline: none;
}

form {
  margin-top: $m;

  @media (min-width: 992px) {
    margin-top: 0;
  }
}

input {
  width: 100%;
  height: 48px;
  padding: 0 20px;
  margin-bottom: 20px;
  @include font-size(16);
  background: transparent;
  border: 1px solid #6E6F71;
  font-family: Nunito, sans-serif;
  color: $text-color;

  &[type='submit'] {
    width: auto;
  }
}

textarea {
  width: 100%;
  min-height: 200px;
  margin-bottom: $s;
  padding: 20px 30px;
  background: transparent;
  border: 1px solid #6E6F71;
  border-radius: 36px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #6E6F71;
}

select {
  width: 100%;
  padding: $s;
  margin-bottom: 20px;
  font-size: 18px;
  background: transparent;
  border: 1px solid #6E6F71;
  font-family: Nunito, sans-serif;
  color: #6E6F71;

  display: block;
  //font-size: 16px;
  //font-family: sans-serif;
  line-height: 1.3;
  max-width: 100%;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;


  &:hover {
    border-color: #888;
  }

  &:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }

  /* Firefox - removes outline */
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $text-color;
  }

  &::-ms-expand {
    display: none; //IE11
  }

  option {
    font-weight: normal;
  }
}

/* Text meant only for screen readers. */
.screen-reader-response {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.validation-error {
  border-color: red;
}
