.front-page-info-box {
  display: flex;
  flex-direction: column;

  svg {
    margin: 0 auto 10px;
  }
}


.article {
  margin-top: 10px;
  margin-bottom: 40px;

  @media only screen and (min-width: 992px) {
    margin-bottom: 0;
  }

  &__date {
    margin: 0 0 10px 0;
  }

  &__header {
    margin: 0;
  }

  &__content {
    margin: 20px 0 0;
  }

  &__more {
    display: inline-block;
    margin-top: $s;
    color: $text-color;
  }
}
