.front-page-info-box {
  display: flex;
  flex-direction: column;

  svg {
    margin: 0 auto 10px;
  }
}


.article {
  margin-top: 10px;
  margin-bottom: 40px;

  @media only screen and (min-width: 992px) {
    margin-bottom: 0;
  }

  &__wrapper-link {
    display: flex;
    flex-direction: column;

    &:hover {
      .article__more {
        color: #43A628;
      }
      .article__header, .article__content, .article__date {
        color: #000;
      }
    }
  }

  &__img {
    height: 300px;
    object-fit: cover;
  }

  &__date {
    margin: 0 0 10px 0;
    @include font-size(14);
  }

  &__header {
    margin: 0;
    @include font-size(18);
  }

  &__content {
    margin: 10px 0 0;
  }

  &__more {
    display: inline-block;
    margin-top: 10px;
    color: #E5E5E5;
    font-family: Spectral, sans-serif;
    @include font-size(18);
  }
}
