.header {
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: $tablet) {
      flex-direction: row;
    }
  }

  &__right {
    display: inline-flex;

    @media only screen and (min-width: $tablet) {
      margin-left: auto;
    }

    #ajaxsearchlite1 {
      display: none;

      @media only screen and (min-width: 992px) {
        display: flex;
      }
    }
  }

  &__button {
    display: inline-flex;
    margin-left: $m;
  }
}
