.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  //position: fixed;
  //z-index: 10;
  //top: 0;
  width: 100%;
  //height: $navigation-height;
  padding: $s 0;
  //background: transparent;
  //transition: all 0.5s ease;
  //margin-top: 60px;

  &__bar {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background: #43A628;
    color: $white;
    text-align: center;
    font-family: Spectral, sans-serif;
    font-weight: 700;
    @include font-size(22);

    @media only screen and (min-width: $tablet) {
      display: flex;
    }
  }

  &__logo-wrapper {
    display: inline-flex;
    align-items: center;
  }

  &__logo {
    margin: 40px 0;
  }

  &__nav-mobile {
    position: fixed;
    width: 100%;
    background: #fff;
    overflow: hidden;
    height: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    top: 0;
    left: 0; //IE fix
    z-index: 10;

    ul {
      margin: 0;

      li {
        height: 100%;
        line-height: 48px;
        display: block;
        padding: 0;

        &.current_page_item {
          > a {
            color: $primary;
          }
        }

        a {
          font-size: 20px;
          display: block;
          padding: 0 $m;
          color: $text-color;
        }
      }
    }
  }

  &__nav-desktop {
    display: none;
    flex: 1;
    justify-content: flex-start;

    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        padding-right: 6px;

        @media only screen and (min-width: 1200px) {
          padding-right: 22px;
        }

        @media only screen and (min-width: 1400px) {
          padding-right: 45px;
        }

        &:last-of-type {
          padding-right: 0;
        }

        a {
          color: $text-color;
          transition: .5s ease;
          font-family: Nunito, sans-serif;
          font-weight: 700;
          @include font-size(17);
          line-height: 25px;

          @media only screen and (min-width: 1200px) {
            @include font-size(18);
          }

          &:hover {
            color: #43A628;
            opacity: .8;
          }
        }

        &.current_page_item {
          a {
            &:after, &:before {
              opacity: 1;
              -webkit-transform: translateX(0px);
              -moz-transform: translateX(0px);
              transform: translateX(0px);
            }
          }
        }
      }
    }
  }

  &__toggle {
    display: flex;
    padding: 8px 0 8px 10px;
    cursor: pointer;
    align-self: center;
    align-items: flex-end;
    flex-grow: 1;
    flex-direction: column;
    z-index: 11;

    @media only screen and (min-width: $desktop) {
      display: none;
    }

    &--open {
      position: fixed;

      i {
        background: transparent;

        &:before {
          top: 0;
          transform: rotate(135deg);
        }

        &:after {
          top: 0;
          transform: rotate(225deg);
        }
      }
    }
  }

  &__toggle-icon {
    display: inline-block;
    position: relative;
    top: 0;
    width: 26px;
    height: 2px;
    background-color: $primary;
    transform: rotate(0);
    transition: transform 300ms 100ms;

    &:before, &:after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 26px;
      height: 2px;
      background-color: $primary;
      transform: rotate(0);
      transition: transform 300ms 100ms;
    }

    &:before {
      top: -6px;
    }

    &:after {
      top: 6px;
    }
  }
}

@media only screen and (min-width: $desktop) {
  .navbar__nav-mobile {
    display: none
  }

  .navbar__nav-desktop {
    display: flex;
  }
}
