.post {
  .simplefavorite-button {
    display: none;
  }

  &__related-products {
    padding: 40px;
    border: 1px solid #DBEDD5;
  }

  ul {
    margin-left: $s;
  }

  &__related-product {
    display: flex;
    flex-direction: column;
    text-align: center;

    &--first {
      margin-bottom: $m !important;
    }

    .price {
      margin: 10px 0;
    }
  }
}

.woocommerce img.post__image, .woocommerce .wcps-items-thumb img {
  height: 254px;
  width: 100%;
  object-fit: cover;
}
