.product-bc {
   @include font-size(16);
    font-family: 'Nunito', sans-serif;
    color: $text-color;
    font-weight: 400;
}

.woocommerce-loop-product__title {
    color: $text-color;
    text-align: center;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    @include font-size(16);
    line-height: 22px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .woocommerce-Price-amount.amount {
    display: flex;
    justify-content: center;
    font-family: Spectral, sans-serif;
    font-weight: 700;
    @include font-size(18);
    line-height: 27px;
}

body.single-product .product .summary .price > .woocommerce-Price-amount.amount {
    @include font-size(24);
}

.product ins .woocommerce-Price-amount.amount, .product .price > .woocommerce-Price-amount.amount {
    color: #43A628;
}

.products .product:hover .tinv-wraper.tinv-wishlist {
    background: #f7f9fa;
}

.single-product .hide {
    display: none;
}

body .woocommerce ul.products li.product .price del, body.woocommerce ul.products li.product .price del {
    color: #acacac;
}

.product del {
    .woocommerce-Price-amount.amount {
        @include font-size(15);
        margin-right: 4px;
    }
}

.price {
    text-align: center;
}

body .woocommerce ul.products li.product .onsale, body.woocommerce span.onsale {
    background-color: unset;
    color: $text-color;
    margin-right: 0;
    margin-left: 5px;
    left: 0;
    right: auto;
    @include font-size(17);
}

body.woocommerce ul.products li.product .onsale {
    left: 0;
    right: unset;
}

body .products .product .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart::before {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 3px 0 0;
    position: static;
}

body .woocommerce ul.products li.product .price ins, body.woocommerce ul.products li.product .price ins {
    text-decoration: none;
}


body.woocommerce-cart table.cart img {
    height: 100px;
    width: auto;
}

//details gallery
.pswp__bg {
    opacity: .7 !important;
}


body.woocommerce div.product p.price {
    color: #acacac;
}


.product-top {
    display: none;
}

body.single-product {
    .product-top {
        display: block;
    }
}
