.woocommerce-loop-product__title {
    color: $text-color;
    text-align: center;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    @include font-size(16);
    line-height: 22px;
}

.product .woocommerce-Price-amount.amount {
    display: flex;
    justify-content: center;
    font-family: Spectral, sans-serif;
    font-weight: 700;
    @include font-size(18);
    line-height: 27px;
    color: #43A628;
}

.single-product .hide {
    display: none;
}

.product del .woocommerce-Price-amount.amount {
    @include font-size(16);
}

.price {
    text-align: center;
}

body .woocommerce ul.products li.product .onsale, body.woocommerce ul.products li.product .onsale {
    background-color: unset;
    color: red;
    margin-right: 0;
    margin-left: 5px;
    left: 0;
    right: auto;
}

body .products .product .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart::before {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 3px 0 0;
    position: static;
}


//details gallery
.pswp__bg {
    opacity: .7 !important;
}
