.slider {
  /* Slideshow container */
  .slideshow-container {
    position: relative;
    margin: auto;
    height: 400px;
  }

  /* Hide the images by default */
  .slide {
    display: none;
    height: 100%;

    img {
      object-fit: cover;
    }
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 800px;
    color: $white;
    @include font-size(46);
    line-height: 50px;
    font-weight: 600;
    font-family: Spectral, sans-serif;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dots {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -60px;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin: 0 10px;
    border: 1px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #bbb;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .button {
    display: block;
    width: 240px;
    height: 50px;
    margin-top: $s;
    text-align: center;
    @include font-size(18);
    background: transparent;
    border: 1px solid $white;
    font-family: Spectral, sans-serif;
    font-weight: 700;
    color: $white;
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
}
