.top {
  position: relative;
  display: flex;
  height: 250px;

  &--woocommerce {
    //height: 250px;
    background-color: #F7F7FA;
    background-image: url("/wp-content/themes/zywnosc/img/slide1.webp");
    background-size: cover;

    .text h1 {
      color: $white;
    }
  }

  &--product {
    height: 100px;
    background-color: #F5F5F5;

    .text h1 {
      color: $text-color;
    }
  }

  &--page {
    height: 250px;
    background-color: #fbfbfd;

    .text h1 {
      color: $text-color;
    }
  }

  &--recipes {
    background-image: url("/wp-content/themes/zywnosc/img/przepisy.webp");
  }

  &--contact {
    background-image: url("/wp-content/themes/zywnosc/img/kontakt.webp");
  }

  &--blog {
    background-image: url("/wp-content/themes/zywnosc/img/blog.webp");
  }

  img {
    height: 100%;
    object-fit: cover;
  }

  .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: $white;
    @include font-size(46);
    line-height: 50px;
    font-weight: 600;
    font-family: Spectral, sans-serif;
    max-width: calc(100% - 100px);
  }

  &__bg1 {
    position: absolute;
    left: 0;
    top: 60px;
    max-width: 100%;
  }

  &__bg2 {
    position: absolute;
    right: 50px;
    top: 30px;
    max-width: 100%;
  }

  &__bg3 {
    position: absolute;
    right: 280px;
    top: 90px;
    max-width: 100%;
  }
}

.single-product {
  .top {
    display: none;
  }
}

body.single-product {
  .product-top {
    .top {
      display: flex;
    }
  }
}
