.d-flex {
  display: flex;
}

.relative {
  position: relative;
}

.mt-s {
  margin-top: $s;
}

.mt-m {
  margin-top: $m;
}

.mb-l {
  margin-bottom: $l;
}

.center {
  text-align: center;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.bg-gray1 {
  background-color: $gray1;
}

.bg-gray2 {
  background-color: #F7F7FA;
}

.bg-gray3 {
  background-color: #f7f8fa;
}

.mb-l {
  margin-bottom: $l;
}

.mb-m {
  margin-bottom: $m;
}

.mt-xl {
  margin-top: $xl;
}

.mt-n {
  margin-top: 0;
}

.h-40 {
  @include font-size(40);
}

.text-center {
  text-align: center;
}

.text-featured {
  font-family: Spectral, sans-serif;
  font-weight: 700;
  @include font-size(24);
  line-height: 30px;
  color: $text-color;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.hide-mobile {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.image-cropper {
  width: 434px;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.text-white {
  color: $white;
}

.d-flex-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.more {
  @include font-size(18);
  font-weight: bold;
  font-family: Spectral, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  z-index: 1;

  &:before {
    content: " ";
    border-bottom: 1px solid black;
    width: 120px;
    position: absolute;
    bottom: -2px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  &--cover {
    @include font-size(24);
    margin: 0;
    top: calc(50% - 16px);
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: $text-color;
    position: absolute;
    display: none;

    &:before {
      width: 46px;
      bottom: -3px;
    }
  }
}


.extra-text {
  display: none;
  background: #FBFBFC;

  p {
    margin: 10px 0;
  }
}

.info {
  background-color: #FBFBFC;
}

body.archive.woocommerce {
  .extra-text {
    display: block;
  }
  .info {
    background-color: $white;
  }
}
