.d-flex {
  display: flex;
}

.mt-s {
  margin-top: $s;
}

.mt-m {
  margin-top: $m;
}

.mb-l {
  margin-bottom: $l;
}

.center {
  text-align: center;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.bg-gray1 {
  background-color: $gray1;
}

.mb-l {
  margin-bottom: $l;
}

.mb-m {
  margin-bottom: $m;
}

.text-center {
  text-align: center;
}

.text-featured {
  font-family: Spectral, sans-serif;
  font-weight: 700;
  @include font-size(24);
  line-height: 30px;
  color: $text-color;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.image-cropper {
  width: 434px;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}
